 /* Estilos generales */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fondo claro para la página */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.logo-img {
    height: 50px; /* Ajusta la altura según tus necesidades */
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 20px; /* Espaciado entre los elementos */
    text-decoration: none; /* Sin subrayado */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */
    position: relative; /* Para posicionar dropdown */
    transition: color 0.3s; /* Transición de color */
}

.nav-item:hover {
    color: #007bff; /* Color al pasar el mouse */
}

.user-item {
    display: flex;
    align-items: center;
    position: relative; /* Necesario para el dropdown */
    margin-left: 10px; /* Espaciado entre los elementos */
}

.user-item i {
    margin-right: 5px; /* Espaciado entre el ícono y el nombre */
    font-size: 1.5em; /* Tamaño del ícono */
    color: #007bff; /* Color del ícono de usuario */
}

.dropdown {
    position: relative;
    display: inline-block; /* Para alinear el dropdown */
}

.dropdown-toggle {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor pointer */
    font-size: 1em; /* Tamaño del texto */
    margin-left: 5px; /* Espaciado */
    color: #333; /* Color del botón */
}

.dropdown-content {
    display: none; /* Ocultar por defecto */
    position: absolute; /* Posicionamiento absoluto */
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 1; /* Apilar encima */
    border-radius: 5px; /* Bordes redondeados */
    min-width: 160px; /* Ancho mínimo */
}

.dropdown-content a {
    color: #333; /* Color del texto */
    padding: 12px 16px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Bloque */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Efecto hover */
}

.dropdown:hover .dropdown-content {
    display: block; /* Mostrar en hover */
}

.menu-toggle {
    display: none; /* Ocultar el botón de menú para usuarios autenticados */
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el botón en dispositivos móviles */
    }
}